grafana/*
!conf
!README.md
!dashboards

prometheus/*
!prometheus.yml
!alerts.rules.yml
!README.md
!sd/
local_replicas.json

alertmanager/*
!alertmanager.template.yml
!README.md

sample.yaml
__pycache__
.DS_Store

/.vscode
/docker/.env
/scripts/.env

*.pem

docker-compose.override.yml

docs/reviews
