

grafana/*
!conf
!README.md
!dashboards

prometheus/*
!prometheus.yml
!alerts.rules.yml
!README.md
!sd/
local_replicas.json

alertmanager/*
!alertmanager.template.yml
!README.md

sample.yaml
__pycache__
.DS_Store

/.vscode
.env

*.pem

docker-compose.override.yml
temp-docker-compose-down.yml

docs/reviews

.python_packages
.venv

workload-attempts/