grafana/*
!conf
!README.md
!dashboards

prometheus/*
!prometheus.yml
!README.md
!sd/
local_replicas.json

sample.yaml
__pycache__
.DS_Store

/.vscode
.env

*.pem

docker-compose.override.yml

docs/reviews
