global:
  scrape_interval: 5s

scrape_configs:
- job_name: "prometheus"
  static_configs:
  - targets: 
    - localhost:9090
- job_name: "demo"
  static_configs:
    - targets:
        - demo.promlabs.com:10000
        - demo.promlabs.com:10001
        - demo.promlabs.com:10002
- job_name: 'node_exporter'
  static_configs:
    - targets: 
        - node-exporter:9100
        - localhost:9100
- job_name: "metrics"
  static_configs:
    - targets:
        - localhost:8000